#aboutMe {
    padding-top: 2rem;
    padding-left: 25%;
    padding-right: 25%;
    background: #fff;
}

.aboutMe__c > h1 {
    padding-bottom: 1em;
}

.tekst {
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
}

.tekst > a {
    color: blue;
    font-weight: bold;
}

.tekst > a:hover {
    color: lightblue;
    text-decoration: none;
}