#aboutMe {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2rem;
}

.aboutMe__c > h1 {
    padding-bottom: 1em;
}

.tekst {
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
}

.tekst > a {
    color: blue;
    font-weight: bold;
}

.tekst > a:hover {
    color: lightblue;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    #aboutMe {
        padding-left: 10%;
        padding-right: 10%;
    }
}