/* video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
} */

.hero-c {
    background: url('/images/img-home.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-c > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.hero-c > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.profilep {
    height: 300px;
    margin-bottom: 8rem;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.25);
}


@media screen and (max-width: 960px) {
    .hero-c > h1 {
        font-size: 70px;
        margin-top: -150px;
    }

    .profilep {
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-c > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-c > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .hero-btns {
        text-align: center;
    }

    .btn {
        width: 90%;
    }

    .profilep {
        height: 200px;
    }
}

/*Buttons*/
.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: #fff;
    color: #242424;
    border: 1px solid  #fff;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid  #fff;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--outline:hover {
    background: #fff;
    color:#242424;
    transition: all 0.3s ease-out;
}

.btn--primary:hover {
    background: transparent;
    color:#fff;
    transition: all 0.3s ease-out;
}